/* josefin-sans-regular */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('Josefin Sans'), local('JosefinSans-Normal'),
    url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff') format('woff'), /* Modern Browsers */ url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-regular */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Normal'),
    url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff') format('woff'), /* Modern Browsers */ url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: #eee;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ddd;
}

::selection {
    background: rgba(0, 149, 255, 0.1);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, quote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}

body, footer {
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
}

@media screen and (min-width: 1681px) {
    body p, footer p {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1680px) {
    body, footer {
        font-size: 11pt;
    }
}

@media screen and (max-width: 1280px) {
    body, footer {
        font-size: 11pt;
    }
}

@media screen and (max-width: 980px) {
    body, footer {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    body, footer {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {
    body, footer {
        font-size: 12pt;
    }
}

body:before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    -ms-filter: grayscale(40%);
    -o-filter: grayscale(40%);
    filter: grayscale(40%);
    filter: gray;
}

a {
    color: rgba(255, 82, 82, 0.8);
    color: #ff5252cc;
    transition: color .2s ease, border-color .2s ease, background .2s ease, opacity .2s ease;
}

a:hover {
    color: rgba(255, 82, 82, 0.8);
    color: #ff5252cc;
    background-color: rgba(252, 228, 236, 0.6313725490196078);
    background-color: #fce4eca1;
    text-decoration: none;
    transition: color .2s ease, border-color .2s ease, background .2s ease, opacity .2s ease;
}

strong, b {
    color: #484848;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    font-size: 1em;
    color: #333;
    margin: 0 0 1.5em 0;
}

hr {
    margin: 2em 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #484848;
    font-weight: 700;
    line-height: 1em;
    margin: 0.5em 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

code, p code {
    padding: 3px 5px;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

code, pre {
    font-family: consolas, courier new, monospace;
    color: #444;
}

pre {
    margin-bottom: 2em;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-size: 13px;
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 1.2em 0.5em 1.2em;
    margin: 0 0 2em 0;
    position: relative;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: none;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: rgba(231, 76, 60, 0.8784313725490196);
    color: #e74c3ce0;
    text-align: center;
}

blockquote:after {
    content: "#blockquote" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #e74c3c;
}

blockquote p {
    font-size: 0.8em;
}

blockquote p, blockquote pre {
    margin: 0 !important;
}

blockquote ul, blockquote ol {
    margin: 0 0 0 2em !important;
}

#main {
    width: 100%;
    margin: 3% auto;
}

#footer {
    text-align: center;
    margin: 1.5em;
    background-color: transparent;
}

.logo {
    margin: 2em 0 2em 2em;
}

.header-logo {
    font-weight: 300;
}

.header-logo span {
    display: block;
    float: left;
    width: 28px;
    height: 26px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    transition: all .24s;
}

.header-logo span.b {
    background: #414141;
    color: #fff;
    border-radius: 100%;
    font-weight: 500;
    margin-right: 5px;
}

.header-logo span.b:hover {
    background: #555;
}

.header-logo span.bf {
    display: none;
    background: #414141;
    color: #fff;
    border-radius: 100%;
    font-weight: 500;
}

.header-logo span.bf:hover {
    background: #555;
    border-radius: 100%;
}

.header-logo span.w {
    background: #fff;
    color: #414141;
    border-radius: 100%;
    font-weight: 500;
    margin-right: 5px;
}

.header-logo span.w:hover {
    background: #414141;
    color: #fff;
    border-radius: 100%;
}

.post-list {
    position: relative;
    list-style: none;
    margin: 0 auto;
    width: 1280px;
}

.post-list h1, .post-list h2, .post-list h3, .post-list h4, .post-list h5, .post-list h6 {
    margin: 0.5em 0 0.3em 0;
}

.post-list a {
    transition: all .24s ease;
}

.post-list a:hover {
    background-color: transparent;
}

.post-list > li {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    margin: 0 10px 20px 10px;
}

.post-list > li .colorgradient-card {
    position: relative;
    display: block;
    word-break: break-word;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.post-list > li .post-title {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding-left: 50px;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    transition: all .24s;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.post-list > li .post-meta {
    position: absolute;
    top: 0;
    left: 0;
    background: #414141;
    box-shadow: 0 3px 15px 0 rgba(1, 1, 1, 0.3);
    border-radius: 0rem 0rem .623rem 0rem;
    padding: 2px 14px 2px 10px;
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    transition: all .24s;
}


.posti {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.posti .post-title {
    margin-bottom: 0;
}

.posti .post-meta p {
    color: rgba(85, 85, 85, 0.5294117647058824) !important;
    color: #55555587 !important;
}

.posti h2 {
    border-left: #f29dce;
    border-width: 0 0 0 4px;
    border-style: solid;
    padding-left: 0.5em;
}

.posti h3:before {
    content: "#";
    margin-right: 5px;
    color: #4caf50;
    font-weight: 400;
}

.posti h4 {
    color: #546e7a;
}

.posti h4:before {
    content: "&";
    margin-right: 5px;
    color: #546e7a;
    font-weight: 400;
}

.posti ul, .posti ol {
    margin: 2em 0 2em 2em;
}

ul li:before {
    content: '> ';
    position: absolute;
    margin-left: -15px;
}

#main > ul > li:before {
    content: '';
    display: none;
}

li {
    list-style: none;
}

.posti .a_tag {
    display: flow-root;
}

.posti .a_tag li {
    width: 50%;
    float: left;
}

.posti img {
    max-width: 90%;
    height: auto;
    margin: 0 5%;
}

.nav-page {
    margin: 3em auto 2em auto;
}

.nav-page a {
    float: left;
    background-color: transparent;
    width: 25px;
    height: 30px;
    color: #414141;
    margin: 0 2px;
}

.nav-page a:hover {
    color: #414141;
    background-color: #f5f5f5;
}

.nav-page ol {
    list-style: none;
}

.nav-page ol li {
    text-align: center;
    float: left;
}

.nav-page ol .current a {
    border-bottom: 1px solid #414141;
}

.index-time {
    font-size: 0.8em;
}

#comment-form {
    display: block;
    margin: 2em 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

#comment-form .comment-inputs {
    height: 50px;
    border-bottom: 1px solid #E1E1E1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    overflow: hidden;
}

#comment-form .comment-inputs input:not(:last-child) {
    border-right: 1px solid #E1E1E1;
}

#comment-form .comment-inputs input {
    outline: none;
    height: 50px;
    background: transparent;
    flex: 1 !important;
    border: 0;
    padding: 0 15px;
    border-radius: 0;
    line-height: normal;
}

#comment-form .comment-editor {
    min-height: 120px;
    position: relative;
}

#comment-form textarea {
    outline: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 15px 20px;
    min-height: 120px;
    line-height: 1.825;
    display: block;
    background: #ecf0f1;
    overflow: auto;
}

#comment-form .comment-buttons {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    height: 50px;
    padding: 8px 16px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#comment-form .comment-buttons #submitComment {
    border: 0;
    background: #e74c3c;
    padding: 0 16px;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#comment-form .comment-buttons #submitComment:hover {
    background: #BF360C;
}

#comment-form .comment-buttons button {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    background: transparent;
    border: 0;
}

#comment-form .comment-buttons .left, #comment-form .comment-buttons .right {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#comment-form .comment-buttons span {
    font-size: 1em;
    margin-top: 4px;
}

#comment-form .comment-buttons .right {
    justify-content: flex-end;
}


#comments ol {
    list-style: none;
    margin: 0;
}

#comments p {
    margin: 0;
}

.gen {
    margin: 1rem 0 0 0;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
}

.gen .page-navigator {
    margin: 3.75rem 0 3rem 0;
}

.response {
    margin: 2rem 0;
    padding-top: 1em;
}

.hinfo {
    display: none;
}

.gen a {
    color: #aaa;
}

.comment-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 1.4rem 1rem 0 0 !important;
    border-radius: 50%;
}

.comment_main {
    overflow: hidden;
    padding: 1rem 0;
    border-bottom: 1px dotted #e0e0e0;
}

.comment_main p {
    margin: 0;
    font-size: 13px;
}

.comment_reply, .comment_meta {
    font-size: .766rem;
    color: #aaa;
}

.comment_reply {
    float: right;
    display: none;
}

.comment_main:hover .comment_reply {
    display: block
}

.comment_author {
    padding: .1rem .25rem;
    border-radius: .25rem;
    background: #eee;
    font-size: 10px;
}

.ccomment_reply {
    text-align: right;
}

.comment_reply a:before, .comment_time:before {
    margin: 0 .5rem
}

.comment-parent .comment-children {
    margin-left: 1.2em;
}

.comment-child .comment-children {
    margin-left: 1.2em;
}

.cancel-comment-reply {
    text-align: right;
}

.tbox {
    padding: 0 0 15px 0px;
}

.archive-header {
    margin: 0 auto 2em auto;
}

.archive-header span {
    font-size: 1.2em;
}

#menu-page {
    display: none;
    position: absolute;
    z-index: 100;
    margin: 26px 0 0 168px;
}

#menu-page li {
    transition: all .24s;
    list-style: none;
    color: #fff;
    background-color: #414141;
    width: 84px;
    height: 36px;
    line-height: 40px;
    padding: 0 12px;
    overflow: hidden;
    border-radius: .5rem .5rem .5rem .5rem;
}

#menu-page li:hover {
    background-color: #555;
}

#search-box {
    display: none;
    position: absolute;
    margin-left: 252px;
    overflow: hidden;
}

#search-box input {
    float: left;
    outline: none;
    height: 26px;
    width: 140px;
    border: 0;
    background-color: #414141;
    padding-left: 5px;
    color: #fff;
}

#postTorTree {
    position: relative;
    z-index: 3;
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: right;
}

#torTree {
    line-height: 1.5em;
    margin-left: 6px;
    border-left: 1px solid rgba(221, 221, 221, 0.32);
    font-size: 12px;
    position: fixed;
    z-index: 0;
    top: 100px;
    display: inline-block;
    text-align: left;
}

.torArcT {
    width: 160px;
    float: left;
    position: relative;
    min-height: 1px;
}

.torArcTile {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    padding: 6px;
    margin-left: -150%;
    width: 250px;
    margin-top: 100%;
}

#torTree .tori {
    font-weight: 600;
}

#torTree a {
    color: #333;
}

#torTree a:hover {
    color: #555;
    background-color: #fff;
}

#torTree .tor {
    font-weight: 800;
    /*margin-left: .4em;*/
}

#torTree .tor::before {
    content: '| ';
}
#torTree .tori:before {
    content: '# ';
}

#torTree .torii {
    margin-left: 0.5em;
}

#torTree .torii:before {
    content: '& ';
    color: #546e7a;
}

@media (max-width: 1350px) {
    #postTorTree {
        display: none;
        z-index: -10;
    }
}

.cPlayer img {
    max-width: 100%;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .comment-parent .comment-children {
        margin-left: 0;
        padding-left: 0
    }
}

@media (max-width: 1300px) {
    .post-list {
        width: 960px;
    }
}

@media (max-width: 970px) {
    .post-list {
        width: 640px;
        margin-top: 3%;
    }
}

@media (max-width: 780px) {
    .posti h3:before {
        position: inherit;
        margin-right: 5px;
    }

    .posti h4:before {
        position: inherit;
        margin-right: 2px;
    }
}

@media (max-width: 700px) {
    .logo {
        margin: 2em 0 2em 1em;
    }
}

@media (max-width: 650px) {
    .post-list {
        width: 100%;

    }

    .post-list > li {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0 20px;
    }
}

@media (max-width: 570px) {
    #comment-form .comment-inputs input:not(:last-child) {
        border-right: none;
    }

    #comment-form .comment-inputs {
        height: 150px;
        display: block;
    }

    #comment-form .comment-inputs input {
        width: 100%;
    }
}

@media (max-width: 460px) {
    #search-box {
        margin-left: 0 !important;
        margin-top: 22px;
    }
}

.post-copyright {
    margin: 0 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #ff9ece; /*#414141*/
    background-color: rgba(65, 65, 65, 0.05);
    list-style: none;

}

.post-copyright li:before {
    display: none;
}

.colorgradient-card .post-dec {
    width: 230px;
    height: 200px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
}

.colorgradient-card .post-dec p {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 0;
    filter: Alpha(opacity=80);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-opacity: 0.8;
    opacity: 0.8;
    padding: 20px;
    color: gray;

}

.colorgradient-card .post-dec:hover {
    opacity: 1;
}

.modified-date {
    padding-left: 8px;
    border-left: 3px solid #ff9ece;
    background-color: rgba(65, 65, 65, 0.05);
    margin-bottom: 3px;
    height: auto;
}

.modified-date p {
    font-weight: 500;
    padding: 5px;

}

em, mark, kbd {
    padding: .25em .5em;
    border-radius: .5em;
}

em {
    color: #fff;
    font-style: normal;
    background: #ff9faf;
}

.avatar-right {
    float: right;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: none;
    position: absolute;
    right: 0;
    opacity: 0.8;
    transition: all .5s;
}

.avatar-right:hover {
    float: right;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: none;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: all .5s;
}

.hitokoto {
    display: inline-block;
    margin-left: 1em;
    z-index: 0;
    position: absolute;
    top: 4em;
}

@media screen and (max-width: 550px) {
    .avatar-right {
        display: none;
    }

    .hitokoto {
        display: none;
    }



    .header-logo span.b {
        margin-right: 0;
    }

    .header-logo span.w {
        margin-right: 0;
    }

}

#go-top {
    transform: scale(0);
    background-color: #ff5252cc;
    opacity: .8;
    border: .2em;
    border-radius: 100%;
    position: fixed;
    bottom: 10%;
    right: 5%;
    height: 3em;
    width: 3em;
    box-shadow: .2em .2em 12px rgba(10, 10, 10, 0.2);
    transition: all .5s;
    cursor: pointer;
}

#go-top:hover {
    box-shadow: 1px 1px 12px rgba(10, 10, 10, 0.2);
}

#go-top:active {
    transform: scale(0);
}


#footer-infor {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

#footer-infor ul {
    list-style: none;
}

#footer-infor .footer-item {
    padding-top: 20px;
    padding-left: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-width: 230px;
    max-width: 300px;
    max-height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 550px) {
    #footer-infor {
        display: none;
    }

    .posti {
        margin-top: -5%;
    }
}

.icon {
    position: absolute;
    right: 2em;
    line-height: inherit;
}

/*自定义标签*/
quote {
    border-top: rgba(255, 140, 169, 0.88);
    background-color: rgba(65, 65, 65, 0.02);
    font-size: 13px;
    display: block;
    border-width: 3px 0 0 0;
    border-style: solid;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 0 0 2em 0;
    position: relative;
}

/*语录*/
.say {
    columns: 2;
    margin: 10px auto;
    word-break: break-all;
    letter-spacing: .03em;
}

say {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background: rgba(52, 152, 219, .05);
    margin: 0 1em 1em;
    line-height: 1.8;
    padding: 1em 1em 1em 2em;
    border-left: 5px #3498db solid;
    display: block;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 3px 15px 0 rgba(87, 87, 87, 0.2);
    transform: translateZ(0);

}

.say > say:nth-child(2n) {
    border-left-color: #ffc107;
    background: rgba(255, 193, 7, .05);
}

.say > say:nth-child(3n) {
    border-left-color: #40e0d0;
    background: rgba(64, 224, 208, .05);
}

.say > say:nth-child(4n) {
    border-left-color: #8a2be2;
    background: rgba(138, 43, 226, .05);
}

.say > say:nth-child(5n) {
    border-left-color: #ff4500;
    background: rgba(255, 69, 0, .05);
}

#say {
    max-width: 75em;
    display: block;
    margin: 20px auto;

}

say .author {
    opacity: .6;
    font-size: .85em;
    text-align: right;
    font-style: italic;
}